.react-fork-corner{
    z-index:100;
    position:fixed;
    display:inline-flex;
    bottom:0;
    right:0;
    height:7rem;
    width:7rem;
    background-color:transparent; 
    background-image: linear-gradient(135deg,
    transparent 0%,transparent 50%,    #f34f29 51%,#f34f29 100%);
    
    *{
        background-color:#f34f29; 
    }
    
}